.advantages {
  padding-top: 112px;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
  }

  ul {
    @include list-reset();

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

.advantages__item {
  min-height: 299px;
  padding: 40px 43px;

  border: 1px solid $advantages_border;
  border-left: 3px solid $advantages_border-left;
  background-color: $advantages_item-bg;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding: 25px;
    padding-bottom: 18px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 12px;
    padding-bottom: 25px;
  }

  &:hover,
  &:focus {
    border-color: $advantages_border-hover;
    background-color: $advantages_item-bg-hover;

    svg {
      fill: $advantages_icon-hover;
    }

    h3 {
      color: $advantages_text-hover;
    }

    p {
      color: $advantages_text-hover;
    }
  }

  svg {
    display: block;
    margin-bottom: 18px;

    fill: $advantages_icon;

    @media (max-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 13px;
    }
  }

  h3 {
    @include text-reset();
    margin-bottom: 15px;

    font-family: $title-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $advantages_title;

    @media (max-width: $tablet-width) {
      margin-bottom: 9px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
      line-height: 140.62%;
    }
  }

  p {
    @include text-reset();
  }

  &--suppliers {
    @media (max-width: $mobile-width) {
      padding-right: 11px;
    }
  }
}

.advantages__icon {
  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }
}
