// Fonts
$main-font: "PT Mono", "Courier New", monospace;
$title-font: "Roboto Condensed", "Tahoma", sans-serif;

// Viewports
$mobile-width-min: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Descriptive variables for colors

// Function variables for colors
