// Fonts
$main-font: "PT Mono", "Courier New", monospace;
$title-font: "Roboto Condensed", "Tahoma", sans-serif;

// Viewports
$mobile-width-min: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Descriptive variables for colors
$black: #1b2d37;

$grey-darkest: #626962;
$grey-darken: #666666;
$grey: #c4c4c4;
$grey-light: #ebebeb;

$white: #ffffff;
$accent: #00b2ff;

// Function variables for colors
$page_text: $grey-darken;
$page_bg: $white;

$page-header_bg: $black;

$contacts_text: $white;
$contacts_text-hover: $accent;

$btn_border: $white;
$btn_border-hover: $accent;
$btn_border-about-company: $accent;
$btn_bg: $accent;
$btn_bg-hover: $white;
$btn_bg-about-company-hover: $accent;
$btn_text: $white;
$btn_text-hover: $accent;
$btn_text-about-company: $accent;
$btn_text-about-company-hover: $white;

$promo_text: $white;
$promo_pseudo: $white;
$promo_scroll: rgba($white, 0.5);
$promo_scroll-hover: $white;
$promo_scroll-active: rgba($white, 0.3);

$advantages_border: $grey-light;
$advantages_border-hover: $accent;
$advantages_border-left: $accent;
$advantages_item-bg: $white;
$advantages_item-bg-hover: $accent;
$advantages_title: $accent;
$advantages_text-hover: $white;
$advantages_icon: $accent;
$advantages_icon-hover: $white;

$services_bg: $black;
$services_text: $white;

$feedback_bg: $accent;
$feedback_text: $white;

$form_text: $white;
$form_input-bg: rgba($white, 0.1);
$form_input-placeholder: $white;
$form_checkbox: rgba($white, 0.8);
$form_checkbox-border: $white;

$page-footer_line: rgba($grey-darkest, 0.2);
$page-footer_link: rgba($black, 0.5);
$page-footer_link-hover: $black;
$page-footer_link-active: rgba($black, 0.3);
$page-footer_text: rgba($black, 0.5);
$page-footer_title: $black;
$page-footer_accordion-btn: $grey;

$modal_bg: rgba($black, 0.7);
$modal_text: $white;
$modal_content-bg: $accent;
